
body {
  margin: 0;
  width: auto;
  background-color: #fff;
  color: #009BD8;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

.holdsContent {
  max-width: 1300px;
  margin: 0 auto;
}

.holdsContent ul {
  max-width: auto;
  margin: 5% auto;
}

.holdsContent ul li {
  list-style: none;
  display: inline-block;
  width: 30.2387%;
  padding: 1%;
  vertical-align: top;
}

  .holdsContent ul li h3 {
    font-size: 2em;
  }

  .holdsContent ul li p {
    font-size: 1.5em;
  }

.holdsContent ul li img {
  max-width: 100%;
}


/*tablet size */

@media (min-width: 500px) and (max-width: 840px) {

.holdsContent {
  /* max-width: 840px; */
  width: auto;
}

.holdsContent ul li {
  display: block;
  width: auto;
}

.holdsContent ul li img {
  width: 40%;
  display: inline-block;
  }

  .containText {
    display: inline-block;
    width: 50%;
    margin-left: 4%;
    vertical-align: top;
  }

  .holdsContent ul li h3 {
    margin: 0;
  }

}

@media (max-width: 499px) {

  .holdsContent {
    width: auto;
  }

  .holdsContent ul li {
    display: block;
    width: auto;
  }

  .holdsContent ul li img {
    max-width: 90%;
    margin: 5%;
    }

  .holdsContent ul li h3 {
    width: auto;
    text-align: center;
    }

  .holdsContent ul li p {
    text-align: center;
    }

    .containText {
      max-width: 85%;
      margin-left: 4%;
  }
}
